<!DOCTYPE html>
<html>
<head>
  <title>Band Aggregator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="header">
  <h1>Band Scout</h1>
  <h2>Artist/Song Data Aggregator</h2>
</header>

<div class="header_links">
  <button>
    <%= link_to 'Soundcloud Charts', soundcloud_index_path %>
  </button>
  <button>
    <%= link_to 'Spotify Latest Playlist', spotify_index_path %>
  </button>
</div>
<br><hr>

<%= yield %>

</body>
</html>
